<div class="container">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs nav-justified">
        <!--      <li class="navbar-text my-style"><i class="far fa-calendar"></i></li>-->
        <li class="nav-item active bg-light"><a class="nav-link" routerLink="/1W">1W</a></li>
        <li class="nav-item bg-light"><a class="nav-link" routerLink="/1M">1M</a></li>
        <li class="nav-item bg-light"><a class="nav-link" routerLink="/2M">2M</a></li>
        <li class="nav-item bg-light"><a class="nav-link" routerLink="/6M">6M</a></li>
        <li class="nav-item bg-light"><a class="nav-link" routerLink="/1Y">1Y</a></li>
        <li class="nav-item bg-light"><a class="nav-link" routerLink="/2Y">2Y</a></li>
        <li class="nav-item bg-light"><a class="nav-link" routerLink="/5Y">5Y</a></li>
        <li class="nav-item bg-light"><a class="nav-link" routerLink="/10Y">10Y</a></li>
      </ul>
    </div>

    <div>
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
