<div class="container">

  <div class="btn-group btn-group-toggle d-flex" data-toggle="buttons">

    <button class="btn active" (click)="updateChartData('1W')">1W</button>
    <button class="btn active" (click)="updateChartData('1M')">1M</button>
    <button class="btn active" (click)="updateChartData('2M')">2M</button>
    <button class="btn active" (click)="updateChartData('6M')">6M</button>
    <button class="btn active" (click)="updateChartData('1Y')">1Y</button>
    <button class="btn active" (click)="updateChartData('2Y')">2Y</button>
    <button class="btn active" (click)="updateChartData('5Y')">5Y</button>
    <button class="btn active" (click)="updateChartData('10Y')">10Y</button>

  </div>
  <canvas
    baseChart
    [chartType]="'line'"
    [datasets]="chartData"
    [labels]="labels"
    [options]="chartOptions"
    [legend]="false"
    [colors]="colors"
  >
  </canvas>
</div>

