.container {
  padding: 20px;
}

.my-style {
  width: 50px;
  background-color: dimgrey;
  color: lightgray;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
}

.nav-link {
  color: dimgrey;
  font-weight: bold;
}

.btn {
  /*border: 1px;*/
  background-color: lightgray;
  color: dimgrey;
  box-shadow: none;
  outline: none;
}

.btn:hover {
  background-color: #77b6ff;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: #96c6ff;
  color: white;
}



.btn-my {
  background-color: white;
}

.btn-my:focus,.btn-my:active,.btn-my:hover {
  outline: none !important;
  box-shadow: none !important;
  background-color: white;
  color: #96c6ff;
}
