
.col-md-4 {
  text-align: center;
}

.btn {
  background-color: dimgrey;
  color: white;
  box-shadow: none;
  outline: none;
}

.btn:hover {
  background-color: #3f3f3f;
}


.my-class {
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  color: dimgrey;
  font-weight: bold;

}

.my-class-2 {
  height: 34px;
  line-height: 34px;
  text-align: center;
  vertical-align: middle;
}

.my-class-3 {
  padding-bottom: 8px;
}

.row {
  text-align: center;
}

select {
  background-color: #77b6ff;
  color: white;
  -webkit-appearance: button;
  box-shadow: none;
  outline: none;
}

select:hover {
  background: #4f9bf2;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

select:focus {
  outline: none;
  box-shadow: none;
}
option {
  background-color: white;
}
